// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert{
  color: red;
}
body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    
}

th {
    padding-bottom: 5px;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    display: table-cell;
    vertical-align: inherit;
}

.new-create{
  display:flex;
  flex-flow: column;
}

.new-create,h4{
  width: 158px;
  margin-top: 2px;
}
.create-book{
  margin-top: 20px;
}

.button{
  padding:5px 6px;
}

.NewBook{
  font-size: 1.5em;
}

.font1{
  
}

.font2{
  font-weight: lighter; 
  
}